@using Microsoft.AspNetCore.Identity
@using WebsiteTinhThanFoundation.Data
@model WebsiteTinhThanFoundation.ViewModels.DashboardView
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Trang chủ Admin";
    var user = await UserManager.GetUserAsync(User);
}

<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <h3>

    </h3>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                    <div class="stats-icon purple mb-2">
                                        <i class="iconly-boldShow"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                    <h6 class="text-muted font-semibold">Tổng lượt xem bài viết</h6>
                                    <h6 class="font-extrabold mb-0">@Model.TotalViewBlog.ToString("N0")</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                    <div class="stats-icon blue mb-2">
                                        <i class="iconly-boldProfile"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                    <h6 class="text-muted font-semibold">Người cần hỗ trợ</h6>
                                    <h6 class="font-extrabold mb-0">@Model.NumberContact.ToString("N0")</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                    <div class="stats-icon green mb-2">
                                        <i class="iconly-boldAdd-User"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                    <h6 class="text-muted font-semibold">Đăng ký tình nguyện viên</h6>
                                    <h6 class="font-extrabold mb-0">@Model.NumberVolunteer.ToString("N0")</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-4 py-4-5">
                            <div class="row">
                                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                    <div class="stats-icon red mb-2">
                                        <i class="iconly-boldBookmark"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                    <h6 class="text-muted font-semibold">Số lượng bài viết</h6>
                                    <h6 class="font-extrabold mb-0">@Model.BlogCount.ToString("N0")</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Truy cập hồ sơ</h4>
                        </div>
                        <div class="card-body">
                            <div id="chart-profile-visit"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Bình luận mới nhất</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-lg">
                                    <thead>
                                        <tr>
                                            <th>Tên</th>
                                            <th>Bình luận</th>
                                            <th>Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.CommentViews)
                                        {
                                            var rand = new Random();
                                            int randomNumber = rand.Next(1, 5);
                                            <tr>
                                                <td class="col-3">
                                                    <div class="d-flex align-items-center">
                                                        <div class="avatar avatar-md">
                                                            @switch (randomNumber)
                                                            {
                                                                case 1:
                                                                    {
                                                                        <img src="~/LayoutAdmin/compiled/jpg/5.jpg">
                                                                        break;
                                                                    }
                                                                case 2:
                                                                    {
                                                                        <img src="~/LayoutAdmin/compiled/jpg/2.jpg">
                                                                        break;
                                                                    }
                                                                case 3:
                                                                    {
                                                                        <img src="~/LayoutAdmin/compiled/jpg/8.jpg">
                                                                        break;
                                                                    }
                                                                case 4:
                                                                    {
                                                                        <img src="~/LayoutAdmin/compiled/jpg/3.jpg">
                                                                        break;
                                                                    }
                                                            }
                                                        </div>
                                                        <p class="font-bold ms-3 mb-0">@item.FullName</p>
                                                    </div>
                                                </td>
                                                <td class="col-auto">
                                                    <a asp-area="" asp-controller="Blog" asp-action="Article"
                                                        asp-route-permalink="@item.UrlLinkBlog">
                                                        <p class=" mb-0">@item.Comment</p>
                                                    </a>
                                                </td>
                                                <td>

                                                    <button type="button" class="btn btn-sm btn-danger" onclick="deleteComment(@item.Comment)">Xóa</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-body py-4 px-4">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-xl">
                            <img src="~/LayoutAdmin/compiled/jpg/1.jpg" alt="Face 1">
                        </div>
                        <div class="ms-3 name">
                            <h5 class="font-bold">@user.FullName</h5>
                            <h6 class="text-muted mb-0">@user.FullName</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Tin nhắn gần đây</h4>
                </div>
                <div class="card-content pb-4">
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img src="~/LayoutAdmin/compiled/jpg/4.jpg">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">Phạm Trường Sơn</h5>
                            <h6 class="text-muted mb-0">sonpham</h6>
                        </div>
                    </div>
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img src="~/LayoutAdmin/compiled/jpg/5.jpg">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">Nguyễn Thị Kim Dung</h5>
                            <h6 class="text-muted mb-0">dungnguyen</h6>
                        </div>
                    </div>
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img src="~/LayoutAdmin/compiled/jpg/1.jpg">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">Đào Dũng Phương</h5>
                            <h6 class="text-muted mb-0">phuongdao</h6>
                        </div>
                    </div>
                    <div class="px-4">
                        <button class='btn btn-block btn-xl btn-outline-primary font-bold mt-3'>
                            Bắt đầu cuộc trò chuyện
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Hồ sơ khách truy cập</h4>
                </div>
                <div class="card-body">
                    <div id="chart-visitors-profile"></div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        var dataArray = @Html.Raw(Json.Serialize(@Model.NumberContactMonthly));
        console.log(dataArray);
        var optionsProfileVisit = {
            annotations: {
                position: "back",
            },
            dataLabels: {
                enabled: false,
            },
            chart: {
                type: "bar",
                height: 300,
            },
            fill: {
                opacity: 1,
            },
            plotOptions: {},
            series: [
                {
                    name: "người liên hệ",
                    data: dataArray,
                },
            ],
            colors: "#435ebe",
            xaxis: {
                categories: [
                    "Tháng 1",
                    "Tháng 2",
                    "Tháng 3",
                    "Tháng 4",
                    "Tháng 5",
                    "Tháng 6",
                    "Tháng 7",
                    "Tháng 8",
                    "Tháng 9",
                    "Tháng 10",
                    "Tháng 11",
                    "Tháng 12",
                ],
            },
        }
        var chartProfileVisit = new ApexCharts(
            document.querySelector("#chart-profile-visit"),
            optionsProfileVisit
        )
        chartProfileVisit.render();
    </script>
}